@model IEnumerable<Shop.Web.ViewModels.OrderSummaryViewModel>

@{
    ViewData["Title"] = "Index";
}

    <div class="d-flex justify-content-center p-3 bg-light rounded">
        <div class="text-center">
            <h1 class="text-center">Your orders</h1>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalProducts)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPayment)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( var item in Model )
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalProducts)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.TotalPayment)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>