@model HomeViewModel

@{
    ViewBag.Title = "Shop";
    ViewBag.ShowSidebar = false;
    var OrderBy = Model.OrderBy;
    var SearchPhrase = Model.SearchPhrase;

    var queryCollection = Context.Request.Query;
}

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form method="get" asp-route-page="0">
            <div class="form-group">
                <input asp-for="@SearchPhrase" hidden />
                <select asp-for="@OrderBy" asp-items="Html.GetEnumSelectList<ProductOrderByEnum>()" 
                        class="form-control" onchange="this.form.submit()"></select>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-4">
        <form method="get" asp-route-page="0">
            <div class="input-group">
                <input type="text" asp-for="@SearchPhrase" class="form-control" placeholder="Search..."/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-light">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if( Model.Products.Any() )
{
    <div class="row">
        @foreach( var product in Model.Products )
        {
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                <vc:Product model="product"></vc:Product>
            </div>
        }
    </div>
    <nav>
        <ul class="pagination mt-3 justify-content-center">
            @if( Model.HasPreviousPage )
            {
                <li class="page-item">
                    <a asp-route-page="0" 
                       asp-route-orderBy="@OrderBy" 
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link" >
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a asp-route-page="@(Model.CurrentPage - 1)" 
                       asp-route-orderBy="@OrderBy" 
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link" >
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            }

            @foreach( var pageNumber in Model.PreviousPages )
            {
                <li class="page-item">
                    <a asp-route-page="@pageNumber" 
                       asp-route-orderBy="@OrderBy" 
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link">@(pageNumber + 1)</a>
                </li>
            }

            <li class="page-item active">
                <a href="#" class="page-link">@(Model.CurrentPage + 1)</a>
            </li>

            @foreach( var pageNumber in Model.FollowingPages )
            {
                <li class="page-item">
                    <a asp-route-page="@pageNumber" 
                       asp-route-orderBy="@OrderBy" 
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link">@(pageNumber + 1)</a>
                </li>
            }

            @if( Model.HasNextPage )
            {
                <li class="page-item">
                    <a asp-route-page="@(Model.CurrentPage + 1)" 
                       asp-route-orderBy="@OrderBy" 
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a asp-route-page="@(Model.LastPage)"
                       asp-route-orderBy="@OrderBy"
                       asp-route-SearchPhrase="@SearchPhrase"
                       class="page-link">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <h1 class="text-center">No products found.</h1>
}