@model PaginatedEnumeration<ProductViewModel>

@{ 
    ViewBag.Title = "Shop";
}

<div class="mt-3 p-1 text-right">
    <form method="get">
        <div class="form-group form-check form-check-inline">
            <select class="form-control" name="orderBy" onchange="this.form.submit()">
                <option selected>Order by...</option>
                <option value="default">Default</option>
                <option value="price_low">Low price first</option>
                <option value="price_high">High price first</option>
                <option value="name_low">Alphabetical order</option>
                <option value="name_high">Reversed alphabetical order</option>
            </select>
        </div>
    </form>
</div>

<div class="mt-3 card-deck">
    @foreach( var product in Model.Items )
    {
        <div style="width: 30%">
            <vc:Product model="product"></vc:Product>
        </div>
    }
</div>
<div class="mt-3">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-route-page="@(Model.Page - 1)" asp-route-orderBy="@Context.Request.Query["orderBy"]">Previous</a>
            </li>

            <li class="page-item">
                <a class="page-link active" href="#">@(Model.Page + 1)</a>
            </li>

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-route-page="@(Model.Page+1)" asp-route-orderBy="@Context.Request.Query["orderBy"]">Next</a>
            </li>
        </ul>
    </nav>
</div>