@model PaginatedEnumeration<Product>

@{ 
    ViewBag.Title = "Shop";
}

<div>
    <form method="get">
        <div class="form-check form-check-inline">
            <select class="form-control" name="orderBy">
                <option selected>Order by...</option>
                <option value="default">Default</option>
                <option value="price_low">Low price first</option>
                <option value="price_high">High price first</option>
                <option value="name_low">Alphabetical order</option>
                <option value="name_high">Reversed alphabetical order</option>
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input type="submit" class="form-control" value="Sort"/>
        </div>
    </form>
</div>

<div class="card-deck">
    @foreach( var product in Model.Items )
    {
    <div class="card mt-3" style="min-width: 30%; max-width: 30%">
        <img src="~/images/products/@product.ImagePath"
             class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Price</p>
            <a asp-action="add" asp-controller="cart" asp-route-id="@product.Id" 
               class="btn btn-info">add to cart</a>
        </div>
    </div>
    }
</div>
<div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-route-page="@(Model.Page - 1)">Previous</a>
            </li>

            <li class="page-item">
                <a class="page-link active" href="#">@(Model.Page+1)</a>
            </li>

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-route-page="@(Model.Page+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>