@model IList<CartProductViewModel>
@inject ICartSummary CartSummary

@{ 
    ViewBag.Title = "Cart";
}

@if( Model.Any() )
{
    <form method="post">
        <table class="table table-responsive">
            <tbody>
                @for( int i = 0; i < Model.Count; i++ )
                {
                    <tr>
                        <td class="align-middle">
                            <img src="~/images/products/@Model[i].ProductImagePath"
                                 style="width: 200px; height: 200px;" />
                        </td>
                        <td class="align-middle">
                            <h4>@Model[i].ProductName</h4>
                        </td>
                        <td class="align-middle">
                            <h4>@Model[i].ProductPrice$</h4>
                        </td>
                        <td class="align-middle">
                            <div class="form-group">
                                <input asp-for="@Model[i].ProductId"
                                       hidden />
                                <input asp-for="@Model[i].ProductImagePath"
                                       hidden />
                                <input asp-for="@Model[i].ProductName"
                                       hidden />
                                <input asp-for="@Model[i].ProductPrice"
                                       hidden />
                                <input asp-for="@Model[i].Count" />
                                <span asp-validation-for="@Model[i].Count" class="text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle">
                            <button type="submit" asp-action="setCount" asp-route-id="@i"
                                    class="btn btn-success">
                                Save
                            </button>
                        </td>
                        <td class="align-middle">
                            <button type="submit" asp-action="delete" asp-route-id="@Model[i].ProductId"
                                    class="btn btn-danger">
                                Remove
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right">
            <h2 >Total payment: @CartSummary.TotalPayment.ToString("0.##")$</h2>
            <a asp-controller="User" asp-action="EditDetails" asp-route-returnurl="/Order/MakeOrder"
                class="btn btn-success">
                <h5>Make an order</h5>
            </a>
        </div>
    </form>
}
else
{
    <h5>No products found in cart. </h5>
}