@model IList<CartProductViewModel>
@inject ICartSummary CartSummary

@{ 
    ViewBag.Title = "Cart";
    var totalPayment = CartSummary.TotalPayment.ToString("0.00");
}

@if( Model.Any() )
{
    <form method="post">
        @for( int i = 0; i < Model.Count; i++ )
        {
            <div class="row mt-2">
                <div class="col-md-4">
                    <a asp-controller="home" asp-action="details" asp-route-id="@Model[i].ProductId">
                        <img src="~/images/products/@Model[i].ProductImagePath" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-controller="home" asp-action="details" asp-route-id="@Model[i].ProductId">
                                <h3>@Model[i].ProductName</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>$@Model[i].ProductPrice</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <input asp-for="@Model[i].ProductId" hidden />
                            <input asp-for="@Model[i].ProductImagePath" hidden />
                            <input asp-for="@Model[i].ProductName" hidden />
                            <input asp-for="@Model[i].ProductPrice" hidden />

                            <div class="input-group">
                                <input asp-for="@Model[i].Count" class="form-control" />
                                <div class="input-group-append">
                                    <button type="submit" asp-action="setCount" asp-route-id="@i" class="btn btn-success">
                                        <i class="fas fa-check"></i>
                                    </button>
                                    <button type="submit" asp-action="delete" asp-route-id="@Model[i].ProductId" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                                <span asp-validation-for="@Model[i].Count" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
         }

            <div class="float-right text-right">
                <h2>Total payment</h2>
                <h3>$@totalPayment</h3>
                <a asp-controller="User" asp-action="EditDetails" asp-route-returnurl="/Order/MakeOrder" class="btn btn-success btn-block">
                    <h5>Make an order</h5>
                </a>
            </div>
        </form>
}
else
{
    <h1>No products found in cart. </h1>
}